[tool.poetry]
name = "robotframework-assertion-engine"
version = "0.2.0"
description = "Generic way to create meaningful and easy to use assertions for the Robot Framework libraries."
authors = ["Tatu Aalto <aalto.tatu@gmail.com>"]
license = "Apache License 2.0"
readme = "README.rst"
homepage = "https://github.com/MarketSquare/AssertionEngine"
documentation = "https://github.com/MarketSquare/AssertionEngine/blob/master/README.rst"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Testing",
    "Framework :: Robot Framework",
    "Framework :: Robot Framework :: Tool",
]
packages = [
    { include = "assertionengine", from="."}
]
include = ["assertionengine/py.typed"]


[tool.poetry.dependencies]
python = "^3.7"
robotframework = "^4.0.3 || ^4.1.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
approvaltests = "^0.3.post2"
black = "^20.8b1"
mypy = "^0.790"
flake8 = "^3.8.4"
isort = "^5.7.0"
pytest-approvaltests = "0.1.0"
invoke = "^1.5.0"
robotstatuschecker = "^1.4"
pre-commit = "^2.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ['py37']
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
src_paths="./assertionengine"
