[tool.poetry]
name = "robotframework-assertion-engine"
version = "0.3.0"
description = "Generic way to create meaningful and easy to use assertions for the Robot Framework libraries."
authors = ["Tatu Aalto <aalto.tatu@gmail.com>"]
license = "Apache License 2.0"
readme = "README.rst"
homepage = "https://github.com/MarketSquare/AssertionEngine"
documentation = "https://github.com/MarketSquare/AssertionEngine/blob/master/README.rst"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Testing",
    "Framework :: Robot Framework",
    "Framework :: Robot Framework :: Tool",
]
packages = [
    { include = "assertionengine", from="."}
]
include = ["assertionengine/py.typed"]


[tool.poetry.dependencies]
python = "^3.7"
robotframework = "^4.0.3 || ^4.1.0"
robotframework-pythonlibcore = "^3.0.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
approvaltests = "3.1.0"
black = "^21.11b1"
mypy = "^0.910"
flake8 = "^4.0.1"
isort = "^5.10.1"
pytest-approvaltests = "^0.2.3"
invoke = "^1.6.0"
robotstatuschecker = "^2.2.0"
pre-commit = "^2.15.0"
empty-files = "^0.0.3"
robotframework-tidy = "^1.6.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ['py37']
exclude = '''
/(
    \.eggs
  | \.git
  | \.mypy_cache
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
src_paths="./assertionengine"
