pytest >= 7.4
approvaltests >= 14.0.0
mypy >= 1.12.1
pytest-approvaltests >= 0.2.4
invoke >= 3.0.3
robotstatuschecker >= 3.0.1
pre-commit >= 4.6.0
empty-files >= 0.0.9
robotframework-tidy >=4.18.0
ruff >= 0.15.12
