# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.9]
        rf-version: [3.2.2, 4.0rc1]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} with Robot Framework ${{ matrix.rf-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
    - name: Install dependencies
      run: |
        source $HOME/.poetry/env
        poetry env use ${{ matrix.python-version }}
        poetry install
        poetry env info
        poetry run inv -l
        poetry run inv deps
    - name: Install RF 4.0
      if: matrix.rf-version == '4.0b3'
      run: |
        source $HOME/.poetry/env
        poetry env use ${{ matrix.python-version }}
        poetry add robotframework==${{ matrix.rf-version }}
    - name: Lint files
      run: |
        source $HOME/.poetry/env
        poetry env use ${{ matrix.python-version }}
        poetry run inv lint
    - name: Run unit tests
      run: |
        source $HOME/.poetry/env
        poetry env use ${{ matrix.python-version }}
        poetry run inv utest
    - name: Run acceptance tests
      run: |
        source $HOME/.poetry/env
        poetry env use ${{ matrix.python-version }}
        poetry run inv atest -z True
    - uses: actions/upload-artifact@v2
      if: ${{ always() }}
      with:
        name: Test results
        path: zip_results/output
